.shopping-list {
    margin: 12px 0;
}

.shopping-list .box {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.list-result {
    font-size: 1.6rem;
    list-style: none;
    margin: 70px;
    height: 340px;
    border: 2px solid black;
}
