.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 24px;
    background-color: #f9dc5c;
    color: #252422;
    height: 150px;
    margin-top: auto;
}

.footer h2 {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}

.footer-btn {
    display: flex;
    flex-direction: column;
}

.footer-link button {
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
    border-bottom: 1px solid black;
}