
.navbar {
    height: 56px;
    background-color: #f9dc5c;
}

.container-fluid .navbar-brand {
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;
    border: 2px solid #a47e1b;
    border-radius: 18% 20%;
    padding: 6px;
}

.container-fluid  .navbar-brand:hover {
    box-shadow: 4px 4px 12px black;
}


.container-fluid {
    font-size: 18px;
}