.product {
    vertical-align: top;
   background-color: #eaf4f4;
   border: 2px solid black;
   padding: 2px 12px;
   margin: 16px 10px;

   display: inline-block;
   width: 300px;
   height: 420px;
   border-radius: 12px;
}

.product h6 {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.product img {
    width: 280px;
    height: 280px;
}

.controls {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}