.product:hover {
    transform: scale(1.2);
}

.product {
    vertical-align: top;
    background-color: #edede9;
    padding: 2px 12px;
    margin: 16px 18px;

    display: inline-block;
    width: 300px;
    height: 420px;
    border-radius: 12px;
}

.product h6 {
    font-size: 22px;
    font-family: Poppins;
    margin: 0;
}

.product img {
    width: 280px;
    height: 280px;
}

.controls {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product .price  {
    margin: 0 10px;
}

.product .total {
    font-size: 24px;
    color: red;
}