.product {
   background-color: lightcoral;
   border: 2px solid black;
   margin: 12px 10px;

   display: inline-block;
   width: 300px;
   height: 380px;
   border-radius: 12px;
}

.product h6 {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}